apiVersion: v1
kind: ConfigMap
metadata:
  name: airflow-logging-config
  labels:
    app: airflow
data:
  airflow_local_settings.py: |
    from airflow.config_templates.airflow_local_settings import DEFAULT_LOGGING_CONFIG

    LOGGING_CONFIG = DEFAULT_LOGGING_CONFIG

    LOGGING_CONFIG["handlers"]["gcs.task"] = {
        "class": "airflow.providers.google.cloud.log.gcs_task_handler.GCSTaskHandler",
        "formatter": "airflow.task",
        "base_log_folder": "/opt/airflow/logs",
        "gcs_log_folder": "gs://YOUR_BUCKET_NAME/airflow-logs",
        "gcp_key_path": None,
        "filename_template": "{{ "{{ ti.dag_id }}" }}/{{ "{{ ti.task_id }}" }}/{{ "{{ ts }}" }}/{{ "{{ try_number }}" }}.log",
    }

    LOGGING_CONFIG["loggers"]["airflow.task"]["handlers"] = ["gcs.task"]
