apiVersion: v1
kind: ConfigMap
metadata:
  name: airflow-logging-config
  namespace: airflow
data:
  airflow.cfg: |
    [core]
    executor = KubernetesExecutor
    load_examples = False

    [logging]
    remote_logging = True
    remote_log_conn_id = google_cloud_default
    remote_base_log_folder = gs://pz-buck-888/logs
    encrypt_s3_logs = False
    task_log_reader = gcs.task
