apiVersion: v1
kind: ConfigMap
metadata:
  name: airflow-logging-config
  namespace: airflow
data:
  airflow.cfg: |
    [core]
    remote_logging = True
    remote_base_log_folder = gs://pz-buck-888/logs
    remote_log_conn_id = google_cloud_default
    executor = KubernetesExecutor

    [logging]
    remote_logging = True
    remote_log_conn_id = google_cloud_default
    remote_base_log_folder = gs://pz-buck-888/logs 
    encrypt_s3_logs = False
    task_log_reader = remote

    [kubernetes]
    delete_worker_pods = True
    worker_container_repository = apache/airflow
    worker_container_tag = 2.9.1
